   	body {
    padding-top: 60px;
    padding-bottom: 40px;
}
li,ul{
	margin:0;
	padding:0;
}
.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}
.search{
	margin:10px 0px 0px 0px;
	font-size:20px;
}
#title{
	color:333;
	font-family:  "Myriad Set Pro","Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#name{color: #57a900;}

#qty{
	width:50px;
	height:20px;
	margin-top:7px;
	margin-right:2px;
	text-align:center;
}
#buy_less{
	width:15px;
	height:15px;
	font:15px;
}
#buy_add{
	width:15px;
	font:15px;
	height:15px;
}

#proitem{
	float:left;
	width:312px;
	height:560px;
	display:inline;
}
.jqzoomWrap{
	border:1px solid #BBBBBB;
	cursor:pointer;
	float:left;
	padding:0;
	position:relative;
}
.jqzoomWrap img{
	padding:10px 10px 10px 50px;
	margin:auto;
}
#proitem span{
	clear:both;
	display:block;
	width:320px;
	text-align:center;
}
#proitem ul.imgList{
	height： 80px;
}
#proitem ul.imgList li{
	float:left;
	margin-right:10px;
	list-style-type:none
}
#proitem ul.imgList li img{
	max-width:60px;
	width:e­xpression(this.width>60?"60px":this.width);
	max-height:60px;
	height:e­xpression(this.height>60?"60px":this.height);
	background:#EEE;
	cursor:pointer;
	padding:1px;
	display:inline;
	
}
#proitem ul.imgList li img:hover{
	padding:1px;
	background:#999;
}

.tab{
	clear:both;
	float:left;
	height:230px;
	width:310px;
	overflow:hidden;
	margin-top:20px;
}
.tab .tab_menu li{
	float:left;
	list-style:none;
	text-align:center;
	padding:1px 6px;
	margin-right:4px;
	background:#F1F1F1;
	border:1px solid #898989;
	
	border-bottom:none;
}
.tab .tab_menu li:hover{
	background:#DFDFDF;
}

.tab .tab_menu li.selected { 
	color:#FFF; 
	background:#6D84B4;
}
.tab .tab_box{
	clear:both;
	border:1px solid #898989;
}
.tab .hide{
	display:none;
}	
#details{
	float:left;
	display:inline;
	overflow:hidden;
	width:468px;
	margin-left:20px;
}
#prodetail li{
	
	list-style:none;
}
li.color_change li{
	float:left;
}
li.color_change li img{
	width:30px;
	height:30px;
	background:#EEE;
	cursor:pointer;
	padding:1px;
	margin-top:10px;
	margin-right:3px;
	margin-bottom:10px;
}
li.color_change li img:hover,li.color_change li img.hover{
	padding:1px;
	background:#999;
}
li.pro_size {
	clear:both;
	
}
li.pro_size li{
	float:left;
	text-align:center;
	padding:1px 6px;
	margin-top:10px;
	margin-right:4px;
	border:1px solid #898989;
	margin-bottom:40px;
}
li.pro_size li:hover,li.pro_size li.hover{
	background:#DFDFDF;
}
li.pro_size li:selected{
	color:#FFF;
	background:#6D84B5;
}

/* jquery zoom */
.zoomPad{
	position:relative;
	float:left;
	z-index:99;
	cursor:crosshair;
}
.zoomPreload{
   -moz-opacity:0.8;
   opacity: 0.8;
   filter: alpha(opacity = 80);
   color: #333;
   font-size: 12px;
   font-family: Tahoma;
   text-decoration: none;
   border: 1px solid #CCC;
   background-color: white;
   padding: 8px;
   text-align:center;
   background-image: url(../images/zoomloader.gif);
   background-repeat: no-repeat;
   background-position: 43px 30px;
   z-index:110;
   width:90px;
   height:43px;
   position:absolute;
   top:0px;
   left:0px;
    * width:100px;
    * height:49px;
}
.zoomPup{
	overflow:hidden;
	background-color: #FFF;
	-moz-opacity:0.6;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	z-index:120;
	position:absolute;
	border:1px solid #CCC;
	z-index:101;
	cursor:crosshair;
}
.zoomOverlay{
	position:absolute;
	left:0px;
	top:0px;
	background:#FFF;
	/*opacity:0.5;*/
	z-index:5000;
	width:100%;
	height:100%;
	display:none;
    z-index:101;
}
.zoomWindow{
	position:absolute;
	left:110%;
	top:40px;
	background:#FFF;
	z-index:6000;
	height:auto;
  z-index:10000;
  z-index:110;
}
.zoomWrapper{
	position:relative;
	border:1px solid #999;
  z-index:110;
}
.zoomWrapperTitle{
	display:block;
	background:#999;
	color:#FFF;
	height:18px;
	line-height:18px;
	width:100%;
  overflow:hidden;
	text-align:center;
	font-size:12px;
  position:absolute;
  top:0px;
  left:0px;
  z-index:120;
  -moz-opacity:0.6;
  opacity: 0.6;
  filter: alpha(opacity = 60);
}
.zoomWrapperImage{
	display:block;
  position:relative;
  overflow:hidden;
  z-index:110;

}
.zoomWrapperImage img{
  border:0px;
  display:block;
  position:absolute;
  z-index:101;
}
.zoomIframe{
  z-index: -1;
  filter:alpha(opacity=0);
  -moz-opacity: 0.80;
  opacity: 0.80;
  position:absolute;
  display:block;
}

.purchase{
	border:0px;
	background:none;
	margin-top:5px;
}

#Catalog{
	float:left;
	overflow:hidden;
	width:187px;
	height:560px;
}
