body {
    padding-top: 60px;
    padding-bottom: 40px;
}
h1,h2,h3,dl,dt,dd,ul,ol,li,th,td,p,form,input,button,textarea{
	margin:0;
	padding:0;
}
.zf-green {
    color: #68b604;
}
.tr{
	border-bottom:5px groove red;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}
.search{
	margin:10px 0px 0px 0px;
	font-size:20px;
}
#title{
	color:333;
	font-family:  "Myriad Set Pro","Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#name{color: #57a900;}

#qty{
	width:50px;
	height:20px;
	margin-top:7px;
	margin-right:2px;
	text-align:center;
}
#buy_less{
	width:15px;
	height:15px;
	font:15px;
}
#buy_add{
	width:15px;
	font:15px;
	height:15px;
}

#proitem{
	float:left;
	width:312px;
	height:560px;
	display:inline;
}
.jqzoomWrap{
	
	cursor:pointer;
	float:left;
	padding:0;
	position:relative;
}
.jqzoomWrap img{
	padding:10px 10px 10px 50px;
	margin:auto;
}
#proitem span{
	clear:both;
	display:block;
	width:320px;
	text-align:center;
}
#proitem ul.imgList{
	height： 80px;
}
#proitem ul.imgList li{
	float:left;
	margin-right:10px;
	list-style-type:none
}
#proitem ul.imgList li img{
	max-width:60px;
	width:e­xpression(this.width>60?"60px":this.width);
	max-height:60px;
	height:e­xpression(this.height>60?"60px":this.height);
	background:#EEE;
	cursor:pointer;
	padding:1px;
	display:inline;
	
}
#proitem ul.imgList li img:hover{
	padding:1px;
	background:#999;
}

.tab{
	clear:both;
	float:left;
	height:230px;
	width:310px;
	overflow:hidden;
	margin-top:20px;
}
.tab .tab_menu li{
	float:left;
	list-style:none;
	text-align:center;
	padding:1px 6px;
	margin-right:4px;
	background:#F1F1F1;
	border:1px solid #898989;
	
	border-bottom:none;
}
.tab .tab_menu li:hover{
	background:#DFDFDF;
}

.tab .tab_menu li.selected { 
	color:#FFF; 
	background:#6D84B4;
}
.tab .tab_box{
	clear:both;
	border:1px solid #898989;
}
.tab .hide{
	display:none;
}	
#details{
	float:left;
	display:inline;
	overflow:hidden;
	width:468px;
	margin-left:20px;
}
#prodetail li{
	
	list-style:none;
}
li.color_change li{
	float:left;
}
li.color_change li img{
	width:30px;
	height:30px;
	background:#EEE;
	cursor:pointer;
	padding:1px;
	margin-top:10px;
	margin-right:3px;
	margin-bottom:10px;
}
li.color_change li img:hover,li.color_change li img.hover{
	padding:1px;
	background:#999;
}
li.pro_size {
	clear:both;
	
}
li.pro_size li{
	float:left;
	text-align:center;
	padding:1px 6px;
	margin-top:10px;
	margin-right:4px;
	border:1px solid #898989;
	margin-bottom:40px;
}
li.pro_size li:hover,li.pro_size li.hover{
	background:#DFDFDF;
}
li.pro_size li:selected{
	color:#FFF;
	background:#6D84B5;
}

/* jquery zoom */
.zoomPad{
	position:relative;
	float:left;
	z-index:99;
	cursor:crosshair;
}
.zoomPreload{
   -moz-opacity:0.8;
   opacity: 0.8;
   filter: alpha(opacity = 80);
   color: #333;
   font-size: 12px;
   font-family: Tahoma;
   text-decoration: none;
   border: 1px solid #CCC;
   background-color: white;
   padding: 8px;
   text-align:center;
   background-image: url(../images/zoomloader.gif);
   background-repeat: no-repeat;
   background-position: 43px 30px;
   z-index:110;
   width:90px;
   height:43px;
   position:absolute;
   top:0px;
   left:0px;
}
.zoomPup{
	overflow:hidden;
	background-color: #FFF;
	-moz-opacity:0.6;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	z-index:120;
	position:absolute;
	border:1px solid #CCC;
	z-index:101;
	cursor:crosshair;
}
.zoomOverlay{
	position:absolute;
	left:0px;
	top:0px;
	background:#FFF;
	/*opacity:0.5;*/
	z-index:5000;
	width:100%;
	height:100%;
	display:none;
    z-index:101;
}
.zoomWindow{
	position:absolute;
	left:110%;
	top:40px;
	background:#FFF;
	z-index:6000;
	height:auto;
  z-index:10000;
  z-index:110;
}
.zoomWrapper{
	position:relative;
	border:1px solid #999;
  z-index:110;
}
.zoomWrapperTitle{
	display:block;
	background:#999;
	color:#FFF;
	height:18px;
	line-height:18px;
	width:100%;
  overflow:hidden;
	text-align:center;
	font-size:12px;
  position:absolute;
  top:0px;
  left:0px;
  z-index:120;
  -moz-opacity:0.6;
  opacity: 0.6;
  filter: alpha(opacity = 60);
}
.zoomWrapperImage{
	display:block;
  position:relative;
  overflow:hidden;
  z-index:110;

}
.zoomWrapperImage img{
  border:0px;
  display:block;
  position:absolute;
  z-index:101;
}
.zoomIframe{
  z-index: -1;
  filter:alpha(opacity=0);
  -moz-opacity: 0.80;
  opacity: 0.80;
  position:absolute;
  display:block;
}

.purchase{
	border:0px;
	background:none;
	margin-top:5px;
}
/* nav start */
#Catalog{
	float:left;
	width:187px;
	height:560px;
	margin:0 11px 0 0px;
	top:0;
	left:0;
}
#Catalog h2{
	height:30px;
	line-height:30px;
	color:#fff;
	font-size:12px;
	text-indent:13px;
	background-color:#6E6E6E;
}

#CataInfo{
	border:1px solid #ccc	;
	border-style:none solid solid ;
	border-width:0 1px 1px;
	width:187px;
	height:524px;
	position:absolute;
	
overflow:visible;

	background-color:#eeeeee;
}
#CataInfo .hover h3{
	background-color:#fff;
	overflow:hidden;
	z-index:120;
	width:187px;
}
#CataInfo h3{
	height:34px;
	line-height:34px;
	width:164px;
	font-size:13px;
	font-family:Segoe UI light,'Segoe UI',Tahoma,Helvetica,Arial,Verdana,sans-serif;
	
}
#CataInfo span{
	display:block;
	width:180px;
/*
	position:absolute;
*/
	z-index:1;
}
/*
testPaperCatainfo
*/

.testPaperSubitem{
	background-color:#d1d1d1;
	border-top:1px solid #8e8e8e;
	border-bottom:1px solid #8e8e8e;
	display:none;
}

#CataInfo .hover span{
	width:160px;
	z-index:110;
	
}
#CataInfo .item{
	color:#AEADAE;
	line-height:34px;
	list-style:none;
	width:187px;
	border-bottom:1px solid #cfcfcf;
}
#CataInfo .item a{
	padding-left:13px;
	color:#444444;
}
#CataInfo .item a: {
	color:#008cd7;
}
#CataInfo .item:hover{
border: solid #DDD;
border-width: 1px 0;
background-color:#efefef;
}
.i-mc{
	display:none;
	position:absolute;
	left:187px;
	width:692px;
	background:#fff;
	overflow:hidden;
	top:0;
	-moz-box-shadow: 0 0 8px #DDD;
	-webkit-box-shadow: 0 0 8px #DDD;
	box-shadow: 0 0 8px #DDD;
	min-height:320px;
	padding:10px;
	
}
.hover .i-mc {
	display:block;
	z-index:100;
}

.subitem dt{
	margin:2px 0 0 0;
	font-weight:bolder;
}
.subitem dl{
	border-bottom:1px solid #ccc;
	opacity:0.7;
	padding:0 0 10px 0;
}

.subitem em a{
	color:#666666;
	font-weight:normal;
	font-style:normal;
	padding:0 5px 0 0 ;
	border-right:1px solid #ccc;	
}
/* nav end*/
.mainNav{
	height:47px;
	width:990px;
	background:#4A4A4A;
	line-height:37px;
	position:absolute;
	margin-bottom:20px;
	z-index:100;
}

}
.mainNav.nav{
	float:left;
	display:inline;
	margin-left:25px;
}
.mainNav ul li{
	float:left;
	display:inline;
	margin-right:14px;
}
.mainNav ul li a{
	display:block;
	color:#fff;
	font-weight:700;
	font-size:14px;
	
}
.mainNav ul li a:hover{
	background:none;
}

/*
table
*/

#table{
	float:left;
	width:780px;
}

/*
#table2{
	width:780px;
	overflow:hidden;
	float:left;
}
*/
.tdcontent{
	width:340px;
}
.tdphoto{
	width:40px;
}


/*
TestPaper
*/

#sidebar{
display: block;
top: 200px;
right: 20px;
width: 50px;
position:fixed;
}

/*
 * ajax跳出页面
*/
#testContent{
	float:left;
	height:530px;
	width:70%;
	overflow-y:auto;
	overflow-x: hidden;
	margin:0 11px 0 0;
	position:relative;
	background-color:#f3f3f3;
	
}
#questionContent{
	float:left;
	height:530px;
	width:65%;
	margin:0 11px 0 0;
	position:relative;
	background-color:#f3f3f3;
	overflow:auto;
}
#information{
	padding:5px;
	display:block;
	float:left;
	height:530px;
	width:15%;
	margin:0 11px 0 0;
	position:relative;
	background-color:#f3f3f3;
	overflow:auto;
	
}
.testpapertr{
	font-family: Segoe UI light,'Segoe UI',Tahoma,Helvetica,Arial,Verdana,sans-serif;
	font-size:14px;
	font-weight:lighter;
	background-color:#ebebeb;
	
}
.classSquare{
	display:block;
	width:150px;
	height:150px;
	background-color:#b7b7b7;
	margin:3px;
	float:left;
	padding:10px 10px 10px 10px;
	font-size:20px;
	font-family:Segoe UI light,'Segoe UI',Tahoma,Helvetica,Arial,Verdana,sans-serif;
}
.classSquare a{
	color:white;
}
.classSquare:hover{
	background-color:#9B9B9B;
	color:white;}

li.questionSquare{
	Color:black;
	display:block;
	width:35px;
	height:35px;
	margin:3px;
	float:left;
	padding:10px 10px 10px 10px;
	font-size:13px;
	font-family:Segoe UI light,'Segoe UI',Tahoma,Helvetica,Arial,Verdana,sans-serif;
}


.square-0{
	background-color:#808080;
	border-bottom:3px groove #ccc;
}
.square-1{
	background-color:#999999;
}
.square-2{
	background-color:#cccccc;
}
.square-3{
	background-color:#4c4c4c;
}
.square-4{
	background-color:#0080ff;
}
.square-5{
	background-color:#66ccff;
}
.square-6{
	background-color:#800000;
}
.square-7{
	background-color:#804000;
}
.square-8{
	background-color:#ff0000;
}
.square-9{
	background-color:#ff6666;
}


.TypeContain{
	display:block;
	float:left;

}

#informationContain
{
	display:block;
	float:left;
	width:150px;
	margin:0 0 0 16px;
}

/* rating css */
.rating{
	overflow:hidden;
	width:80px;
	height:16px;
	margin:0 0 20px 0;
	padding:0;
	list-style:none;
	clear:both;
	position:relative;
	background: url(../images/star-matrix.gif) no-repeat 0 0;
}
.nostar {background-position:0 0}
.star_1 {background-position:0 -16px}
.star_2 {background-position:0 -32px}
.star_3 {background-position:0 -48px}
.star_4 {background-position:0 -64px}
.star_5 {background-position:0 -80px}
ul.rating li {
	cursor: pointer;
	float:left;
	text-indent:-999em;
}
ul.rating li a {
	position:absolute;
	left:0;
	top:0;
	width:16px;
	height:16px;
	text-decoration:none;
	z-index: 200;
}
ul.rating li.star_1 a {left:0}
ul.rating li.star_2 a {left:16px;}
ul.rating li.star_3 a {left:32px;}
ul.rating li.star_4 a {left:48px;}
ul.rating li.star_5 a {left:64px;}
ul.rating li a:hover {
	z-index:2;
	width:80px;
	height:16px;
	overflow:hidden;
	left:0;	
	background: url(../images/star-matrix.gif) no-repeat 0 0
}
ul.rating li.star_1 a:hover {background-position:0 -96px;}
ul.rating li.star_2 a:hover {background-position:0 -112px;}
ul.rating li.star_3 a:hover {background-position:0 -128px}
ul.rating li.star_4 a:hover {background-position:0 -144px}
ul.rating li.star_5 a:hover {background-position:0 -160px}

tr.addTr{
	height:300px;
	border-top:1px solid #ccc;
}
.afterTrDiv{
	color:white;
	height:350px;
	background-color:#ccc;
	padding:10px;
	border-top:1px solid #333;
	display:block;
}
.afterTrTd{
padding:0px 0px 0px 0px;	
font:white;
}
td.showType{
	background-color:#ccc;
	font:white;
}


.knowledgeSelect{
	height:200px;
	float:left;
}
#knowledgeSelect2nd{
	height:200px;
	float:left;
	width:300px;
}
#knowledgeSelect3rd{
	height:200px;
	float:left;
}
#knowledgeSelect4{
	height:160px;
	float:left;
}

.knowledgeTypeDiv{
	display:block;
	float:left;
	padding:10px;
}
.subTr{
	display:none;
}
input#addkonwledge{
	width:130px;
}




  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }

	/*
IE7以上支持
*/
/*
}
imageRoll
*/
#Imageroll{
	float:left;
	height:320px;
	width:550px;
	overflow:hidden;
	margin:0 11px 0 0;
	position:relative;
}
#Imageroll img{
	position:absolute;
	left:0;
	top:0;
}
#Imageroll div{
	bottom:0;
	overflow:hidden;
	position:absolute;
	float:left;
}
#Imageroll div a{
	background-color:#444444;
	color:#FFFFFF;
	float:left;
	display:inline-block;
	height:32px;
	margin-right:1px;
	overflow:hidden;
	padding:5px 15px;
	text-align:center;
	text
	width:100px;
	
	
}
#Imageroll div a:hover{
	text-decoration:none;
}
#Imageroll.last{
	margin:0;
	width:80px;
}
/*
Notice
*/
#Notice{
	float:left;
	height:321px;
	overflow:hidden;
	width:230px;
}
.JS_css3 img {
	-webkit-transition:1s all;
	-moz-transition:1s all;
	-o-transition:1s all;
	transition:1s all;
}
.JS_css3:hover img {
	-webkit-transform:rotate(720deg);
	-moz-transform:rotate(720deg);
	-o-transform:rotate(720deg);
	transform:rotate(720deg);
}
#Miaosha{
	float:left;
	height:176px;
	margin-bottom:10px;
	overflow:hidden;
	width:230px;
}
#NoticeInfo{
	float:left;
	border:1px solid #DFDFDF;
	height:133px;
	overflow:hidden;
	width:228px;
}
#NoticeInfo h4{
	font-size:15px;
	height:12px;
	line-height:2px;
	border-bottom:1px solid #DFDFDF;
	text-indent:12px;
	color:#808080;
}
#NoticeInfo ul{
	float:left;
	padding:6px 2px 0 12px;
}
#NoticeInfo li{
	height:20px;
	line-height:20px;
	overflow:hidden;
}
#NoticeInfo li a{
	color:#666666;
}

NoticeInfo li a:hover{
	color:#008CD7;
	text-decoration:none;
}
/* tooltip */
.tooltips{
	position:absolute;
	border:1px solid #333;
	background:#f7f5d1;
	padding:1px;
	color:#333;
	height:500px;
	width:500px;
}
#tooltips2{
	/*
padding:10px 10px 10px 10px;
	position:absolute;
	color:#333;
	border:1px solid #333;
	display:none;
	width:250px;
	height:400px;
	background-color:#c0c0c0;
*/
display: none;
    width: 750px;
	height:366px;
    padding: 0.5em;
    min-height: 6em;
    border:1px solid #ccc;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -25%;
	background-color:#F2F1F1;
	border-radius:5px;
	box-shadow: 10px 10px 10px 2px #b6b6b6;
	padding:15px 15px 0 15px;
}
/*
Brand
*/
#Brand{
	float:left;
	width:790px;
	height:230px;
	overflow:hidden;
}
#BrandTab{
	border-bottom:1px solid #E4E4E4;
	height:29px;
	position:relative;
	width:790px;
	float:left;
}
#BrandTab h5{
	height:29px;
	left:0;
	position:absolute;
	width:200px;
	padding-bottom:5px;
}
#BrandTab ul{
	position:absolute;
	right:0;
	top:10px;
	list-style:none;
}
#BrandTab li{
	float:left;
	margin:0 10px 0 0;
}
#BrandTab li a{
	background:#E4E4E4;
	color:#000000;
	display:inline-block;
	height:20px;
	line-height:20px;
	padding:0 10px;
}
#BrandTab .chos a {
    background-color: #FA5889;
    color: #FFFFFF;
    outline: 0 none;
}
#BrandContent{
	float:left;
	overflow:hidden;
	width:790px;
	height:188px;
	position:relative;
	margin:8px 5px;
}
#BrandList{
	width:3200px;
	position:absolute;
	left:0;
	top:0;
}

#BrandContent li{
	float:left;
	height:188px;
	width:185px;
	padding:0 5px;
	overflow:hidden;
	position:relative;
}
#BrandContent li img {
	left:5px;
	position:absolute;
	top:0;
}

#BrandContent li span{
	 background-color: #EFEFEF;
    color: #666666;
    display: inline-block;
	bottom:0;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 183px;
}

#BrandContent li a{
	color:#666666;
	
}
#BrandContent li a:hover{
	color:#008CD7;
	text-decoration:none;
}
/*
test
*/
.modal {
    display: none;
    width: 50%;
    padding: 0.5em;
    min-height: 6em;
    border: 10px solid #000;
    border: 10px solid rgba(0,0,0,0.5);
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -25%;
}
.close {
	font-size:2px;
    display: none;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    width: 13px;
    height: 13px;
    text-align: center;
    line-height: 12px;
    border: 2px solid #000;
    border: 2px solid rgba(0,0,0,0.5);
    border-radius: 1em;
    background-color: #fff;
    cursor: pointer;
}
.close:hover {
	background-color:#ab052f;
}​
#popup_box { 
    display:none; /* Hide the DIV */
    position:fixed;  
    _position:absolute; /* hack for internet explorer 6 */  
    height:600px;  
    width:850px;  
    left: 300px;
    text-align: center;
    top: 150px;
    z-index:100; /* Layering ( on-top of others), if you have lots of layers: I just maximized, you can change it yourself */
    margin-left: 15px;  

    /* additional features, can be omitted */

    padding:15px;  
    font-size:15px;  
    -moz-box-shadow: 0 0 5px #ff0000;
    -webkit-box-shadow: 0 0 5px #ff0000;
    box-shadow: 0 0 5px #ff0000;
}
#popupBoxClose {
    font-size:20px;  
    line-height:15px;  
    right:5px;  
    top:5px;  
    position:absolute;  
    color:#6fa5e2;  
    font-weight:500; 
	
	/*
form
*/
#type11 { 
    display:none; /* Hide the DIV */
}
#selectType{
	height:300px;
}
#1111:{
	width:50px;
	height:50px;
	background-color:#0b9ed7;
}
